.Temperature .active {
  color: #000;
  cursor: default;
}

.Temperature .active:hover {
  text-decoration: none;
}

.Temperature .units a {
  text-decoration: none;
}

.Temperature .weather-icon {
  float: left;
}

.Temperature .degrees {
  font-size: 60px;
}

.Temperature .units {
  font-size: 20px;
  position: relative;
  top: -22px;
}